/* #about {
  background: var(--color-ui-2);
}
#about .about__container {
  display: grid;
  grid-template-columns: 400px auto;
  gap: 60px;
}

#about .me__container.blur-effect::before {
  bottom: 0;
  left: 0;
  width: 150px;
  height: 145px;
  margin-left: -5%;
  margin-bottom: -5%;
}
#about .photo__container {
  max-height: 400px;
  border-radius: var(--border-radius-4);
  border: 2px solid var(--color-primary);
  overflow: hidden;
}

#about .photo__container img {
  filter: brightness(0.9);
}

#about .photo__container:hover {
  transform: rotate(0);
}
#about .btn {
  margin-top: 30px;
}

@media screen and (min-width: 850px) {
  #about .about__container {
    place-items: center;
  }
  #about .about_description {
    word-spacing: 4px;
    letter-spacing: 0.5px;
    font-size: 22px;
    line-height: 1.9;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  #about .about__highlight__text {
    color: var(--color-text);
  }
}

@media (max-width: 850px) {
  #about .about__container {
    grid-template-columns: 100%;
  }
  #about .me__container {
    display: none;
  }
  #about .btn {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 400px;
  }

  #about .about_description {
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: left;
    line-height: 1.85;
    font-size: 16px;
    font-weight: 500;
  }

  #about .about__title {
    text-align: left;
  }

  #about .about__highlight__text {
    color: var(--color-muted);
  }
} */


/* ? About css updated */

#about {
  background: var(--color-ui-2);
}
#about .about__container {
  display: grid;
  grid-template-columns: 400px auto;
  gap: 60px;
}

#about .me__container.blur-effect::before {
  bottom: 0;
  left: 0;
  width: 150px;
  height: 145px;
  margin-left: -5%;
  margin-bottom: -5%;
}
#about .photo__container {
  max-height: 400px;
  border-radius: var(--border-radius-4);
  border: 2px solid var(--color-primary);
  overflow: hidden;
}

#about .photo__container img {
  filter: brightness(.9);
}

#about .photo__container:hover {
  transform: rotate(0);
}
#about .btn {
  margin-top: 30px;
}

/* about__all styles */

#about .about__all__container .about_description {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.8;
  word-spacing: 4px;
  letter-spacing: 0.2px;
  text-align: left;
}

#about .about__all__container .primary__title {
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#about .about__all__container .section__header {
  align-items: center;
}

@media screen and (min-width: 850px) {
  #about .about__container {
    place-items: center;
  }
  #about .about__container .about_description {
    word-spacing: 4px;
    letter-spacing: 0.5px;
    font-size: 22px;
    line-height: 1.9;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  #about .about__highlight__text {
    color: var(--color-text);
  }
}

@media (max-width: 850px) {
  #about .about__container {
    grid-template-columns: 100%;
  }
  #about .me__container {
    display: none;
  }
  #about .about__container .btn {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 400px;
  }

  #about .about__container .about_description {
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: left;
    line-height: 1.85;
    font-size: 16px;
    font-weight: 500;
  }

  #about .about__all__container .about_description {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.7;
    font-size: 16px;
  }

  #about .about__highlight__text {
    color: var(--color-muted);
    color: var(--color-text);
  }
}

@media screen and (max-width: 500px) {
  #about .about__title {
    text-align: left;
    font-size: 20px;
    align-self: flex-start;
  }
}


/* .about__all__container .about__all__about__title{
  display: inline-block;
} */